{% extends 'base.html' %} {%block head %}
<title>edbook post viewer</title>
<meta name="description" content="edbook post viewer" />
<meta name="author" content="ed" />
{%endblock head%} {% block content %}
<div class="container">
  <div class="row">
    <div class="column">
      <div class="card " style="width: 24rem;">
        {% if post.image_url == "" %}
        <div class="card-body">
          <div class="card-header text-primary bg-white">
            <a href="{{url_for('view_post', id = post.id)}}"
              ><img
                class="circle"
                src="{{post.user.avatar_url}}"
                alt="posters avatar"
              />{{post.user.name}}</a
            >
          </div>
          <p class="card-text">{{post.body}}</p>
          <p class="card-text">Comments: {{post.count_comments}}</p>
          <p class="card-text">Views: {{post.view_count}}</p>

          <p class="card-text">
            <small class="text-muted">{{post.created_at}}</small>
          </p>
          {% if current_user.id == post.user_id %}
          <a href="#" class="btn btn-primary" onclick="toggleEditView()"
            >Edit Post</a
          >
          <form
            class="delete-form"
            method="POST"
            action="/posts/{{post.id}}/delete"
          >
            <button href="#" type="submit" class="btn btn-primary">
              Delete Post
            </button>
          </form>
          {% include 'components/post_editor.html' %}
          <a href="#" class="btn btn-primary" onclick="toggleCommentView()">
            Show Comments</a
          >
          <div id="mycommentdiv" style="display:none">
            {% for comment in comments %} {% include
            'components/comments-feed.html' %} {% endfor %} {% include
            'components/comment.html' %} {% else %}
          </div>
          <a href="#" class="btn btn-primary" onclick="toggleCommentView()"
            >Show Comments</a
          >
          <div id="mycommentdiv" style="display:none">
            {% for comment in comments %} {% include
            'components/comments-feed.html' %} {% endfor %} {% include
            'components/comment.html' %} {% endif %}
          </div>
          <button href="#" type="submit" class="btn btn-primary">
            Follow User
          </button>
          {% else %}
          <div class="card-header text-primary bg-white">
            <a href="{{url_for('view_post', id = post.id)}}"
              ><img
                class="circle"
                src="{{post.user.avatar_url}}"
                alt="posters avatar"
              />{{post.user.name}}</a
            >
          </div>
          <img
            src="{{post.image_url}}"
            class="card-img-top"
            alt="an edbook image"
          />
          <div class="card-body">
            <p class="card-text">{{post.body}}</p>
            <p class="card-text">Comments: {{post.count_comments}}</p>
            <p class="card-text">
              <small class="text-muted">{{post.created_at}}</small>
            </p>
            {% if current_user.id == post.user_id %}
            <a href="#" class="btn btn-primary" onclick="toggleEditView()"
              >Edit Post</a
            >
            <form
              class="delete-form"
              method="POST"
              action="/posts/{{post.id}}/delete"
            >
              <button href="#" type="submit" class="btn btn-primary">
                Delete Post
              </button>
            </form>
            {% include 'components/post_editor.html' %}
            <a href="#" class="btn btn-primary" onclick="toggleCommentView()"
              >Comment</a
            >
            <div id="mycommentdiv" style="display:none">
              {% for comment in comments %} {% include
              'components/comments-feed.html' %} {% endfor %} {% include
              'components/comment.html' %}
            </div>
            {% else %}
            <a href="#" class="btn btn-primary" onclick="toggleCommentView()"
              >Comment</a
            >
            <div id="mycommentdiv" style="display:none">
              {% for comment in comments %} {% include
              'components/comments-feed.html' %} {% endfor %} {% include
              'components/comment.html' %}
            </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container"></div>

{% endblock content%}
