body {
    font-family: 'Roboto', sans-serif;
    

    background: linear-gradient(334deg, #ffffff, #4267b2, #ffffff, #4267b2, #fcfaff, #4267b2);
background-size: 1200% 1200%;

-webkit-animation: AnimationName 200s ease infinite;
-moz-animation: AnimationName 200s ease infinite;
-o-animation: AnimationName 200s ease infinite;
animation: AnimationName 200s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
.sign-in-logo {
    color: #4267b2;
    font-size: 7rem;
    text-align: center;
}


.card-img{
    height: auto;
    width: 90%;
    margin: 0 5%;
}

.bg{
    background: #4267b2;
}
.circle {
    height:30px ; 
    width:30px; 
    border-radius: 90%;
}

.form-signin {
    background-color: rgba(106, 147, 224, 0.5); 
    
    padding: 30px;
    border-radius: 5px;;
}
