<div class="card mb-3 " >
        {% if comment.image_url == "" %} 
        <div class="card-body">
                <h1></h1>
            <h5 class="card-title"><img class="circle" src="{{comment.avatar_url}}" alt="commenter avatar" style="height:30px" >{{comment.username}}</h5>
            <p class="card-text">{{comment.body}}</p>
            <p class="card-text"><small class="text-muted">{{comment.created_at}}</small></p>
            {% if current_user.id == post.user_id or current_user.id == comment.user_id  %}
            <form class="delete-comment" method='POST' action='/comments/{{comment.id}}/delete'><button href="#" type='submit' class="btn btn-primary">Delete Comment</button></form>
            {% endif %}
            {% if current_user.id == comment.user_id %}
            <a href="#" class="btn btn-primary" onclick="toggleEditCommentView()">Edit Comment</a>
            {% include 'components/comment-editor.html' %}
            {% endif %}

        </div>
        {% else %}
        <img src="{{comment.image_url}}" class="card-img-top" alt="an edbook image">
        <div class="card-body">
                <h1></h1>
            <h5 class="card-title"><img src="{{comment.avatar_url}}" alt="commenter avatar" style="height:30px" >{{comment.username}}</h5>
            <p class="card-text">{{comment.body}}</p>
            <p class="card-text"><small class="text-muted">{{comment.created_at}}</small></p>
            {% if current_user.id == post.user_id or current_user.id == comment.user_id  %}
            <form class="delete-comment" method='POST' action='/comments/{{comment.id}}/delete'><button href="#" type='submit' class="btn btn-primary">Delete Comment</button></form>
            {% endif %}
            {% if current_user.id == comment.user_id %}
            <a href="#" class="btn btn-primary" onclick="toggleEditCommentView()">Edit Comment</a>
            {% include 'components/comment-editor.html' %}
            {% endif %}
            
        </div>
        {% endif %}
</div>
